<div class="container py-3">
  <div class="d-flex align-items-center justify-content-center">
      <img class="img-ideia" src="assets/imgs/cachorro.png" alt="">
      <div class="card card-ideia ">
          <div class="card-body">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          </div>
      </div>
  </div>

<div class="row ">
    <div class="col-12 mb-4 mt-4">
        <h5 class="text-center"><b>Melhores avaliados</b> </h5>
        <div class="card card-opcao h-100 shadow mt-2">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4 mt-4">
        <h5 class="text-center"><b>Melhores preços</b> </h5>
        <div class="card card-opcao h-100 shadow mt-2">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 mb-4 mt-4">
        <h5 class="text-center"><b>Ultimos agendamentos</b> </h5>
        <div class="card card-opcao h-100 shadow mt-2">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
