<div class="container py-3">
  <div class="d-flex align-items-center justify-content-center">
      <img class="img-ideia" src="assets/imgs/cachorro.png" alt="">
      <div class="card card-ideia ">
          <div class="card-body">
            Escovar os dentes e o pelo faz toda a diferença, acredite!
          </div>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-12 text-center">
          <h5><b> O que deseja fazer hoje?</b></h5>
      </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-left">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/higiene.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Higiene</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-rigth">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/vacinas.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Vacinas</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-left">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/exames.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Exames</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-rigth">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/consultas.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Consultas</h5>
            </div>
        </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
      <div class="col-11 col-sm-6 mb-4 mt-2">
        <h5 class="text-center"><b>Melhores avaliados</b> </h5>
        <app-carousel [imgsPropaganda]="imgsPropaganda"></app-carousel>
      </div>
      <div class="col-11 col-sm-6 mb-4 mt-2">
        <h5 class="text-center"><b>Melhores preços</b> </h5>
        <app-carousel [imgsPropaganda]="imgsPropaganda"></app-carousel>
      </div>
  </div>
</div>

