<div class="container">
  <main>
    <div class="card bg-dark text-white">
      <img class="card-img" src="assets/imgs/products1.jpg">
      <div class="card-img-overlay">
        <h4 class="card-title text-center">Produtos e serviços</h4>
        <p class="card-text text-center">Encontre produtos e serviços pertinho de você</p>
      </div>
    </div>

    <h1 class="h5 text-dark">O que deseja fazer hoje?</h1>

    <div class="row">
      <div class="col">1</div>
      <div class="col">1</div>
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col">1</div>
    </div>
    <div class="row">
      <div class="col">1</div>
      <div class="col">1</div>
    </div>
  </main>
</div>
