.img-opcoes{
  width: 3.5em;
}

.card-ideia{
  background-color: rgb(43, 164, 173);
  color: white;
  margin-left: 20px;
  border-radius: 15px;
}

.card-opcao{
  border-radius: 15px;
  cursor: pointer;
  border: 0;
}

.card-opcao:hover{
  border-radius: 20px;
  background-color: rgb(218, 218, 218);
}

.img-ideia{
  max-width: 70px;
}

