
.container{
    overflow-x: hidden;
}

.topo{
    width: 100%;
    z-index: 1;
}

.espacamento{
    margin-top: 37px;
}

fa-icon{
    color: white;
}

.profile{
    width: 100%;
    border: 2px solid #f1cb8d;
    border-radius: 100%;
}
