.collapsible-header{
    background-color: rgb(245, 245, 245);
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
}

.seta{
    width: 25px;
}

.col-3{
    padding: 7px 0;
}

.texto-nenhum-cadastro{
    margin: 20px 0;
}