$white: #fff;
$google-red: #dd4b39;
$facebook-blue: #3b5999;

.img-logo {
  max-width: 200px;
  margin: 1em auto;
  display: block;
}

.button-wrapper {
  button {
    color: white
  }

  span {
    margin-left: 1rem;
  }
}


.btn-google {
  background-color: $google-red;
}

.btn-facebook {
  background-color: $facebook-blue;
}
