<div class="container">

  <img src="assets/imgs/logo.png" class="img-logo">

  <main>
    <div class="form-group pt-2">
      <label for="email" class="sr-only">Email</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password" class="sr-only">Senha</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
    </div>

    <a href="#" class="d-block text-dark text-center mb-2">
      Esqueci minha senha
    </a>

    <button class="btn btn-primary w-100" (click)="onLogin()">
      <span class="btn-text">
        Entrar
      </span>
    </button>

    <div class="separator">
      <span>Ou</span>
    </div>

    <div class="d-flex align-items-center button-wrapper" (click)="onLogin()">
      <button class="btn w-100 btn-google">
        <fa-icon [icon]="faGoogle"></fa-icon>
        <span class="btn-text">
          Google
        </span>
      </button>

      <button class="btn w-100 ml-2 btn-facebook" (click)="onLogin()">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <span class="btn-text">
          Facebook
        </span>
      </button>
    </div>

    <div class="mt-4 text-center">
      Ainda não possui conta? <a routerLink="/cadastro">Cadastre-se</a>
    </div>
  </main>
</div>
