<div class="container d-flex justify-content-center align-items-center flex-column">
    
    <img src="assets/imgs/logo.png" class="img-logo">
    
    <div class="btn-google d-flex justify-content-around align-items-center">
        <img class="icon-google" src="assets/imgs/google.png" alt="">
        <span class="btn-text">
            Logar com Google
        </span>
    </div>
    <div class="btn-facebook d-flex justify-content-around align-items-center">
        <img class="icon-facebook" src="assets/imgs/facebook.png" alt="">
        <span class="btn-text">
            Logar com Facebook
        </span>
    </div>
</div>