<div class="container">
    <div class="row mt-4 d-flex align-items-center">
        <div class="col-3">
            <img src="assets/imgs/cachorro.png" alt="">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ad sapiente, sit consectetur quibusdam tempora, cumque quasi.
                </div>
            </div>
        </div>
        <div class="col-3">
            <img src="assets/imgs/lampada.png" alt="">
        </div>
    </div>
</div>
