<div class="container">
    <div class="mt-4 d-flex align-items-center justify-content-center">
        <img class="img-ideia" src="assets/imgs/cachorro.png" alt="">
        <div class="card card-ideia ">
            <div class="card-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            </div>
        </div>
    </div>
    <div class="row mt-4 pt-3 d-flex justify-content-center">
        <h5><b>O que deseja fazer hoje?</b> </h5>
    </div>
    <div class="row mt-4">
        <div class="col-6 col-sm-4 col-md-3 mb-3 card-left">
            <div class="card card-opcao h-100 shadow  ">
                <div class="card-body">
                    <div class=" text-center">
                        <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                    </div>
                    <h5 class="card-title text-center mt-2"><b>Serviços</b></h5>
                    <p class="card-text text-center">Veterinário, banho, tosa, vacinas, entre outro</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 mb-3 card-rigth">
            <div class="card card-opcao h-100 shadow  ">
                <div class="card-body">
                    <div class=" text-center">
                        <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                    </div>
                    <h5 class="card-title text-center mt-2"><b>Produtos</b></h5>
                    <p class="card-text text-center">Brinquedos, rações, 
                        acessórios entre outros.</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 mb-3 card-left">
            <div class="card card-opcao h-100 shadow  ">
                <div class="card-body">
                    <div class=" text-center">
                        <img class="img-opcoes" src="assets/imgs/estabelecimentos.png" alt="">
                    </div>
                    <h5 class="card-title text-center mt-2"><b>Estabelecimentos</b></h5>
                    <p class="card-text text-center">Busca diretamente o estabelecimento que deseja</p>
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 mb-3 card-rigth">
            <div class="card card-opcao h-100 shadow  ">
                <div class="card-body">
                    <div class=" text-center">
                        <img class="img-opcoes" src="assets/imgs/cachorro.png" alt="">
                    </div>
                    <h5 class="card-title text-center mt-2"><b>Meus Pets</b></h5>
                    <p class="card-text text-center">Aqui você gerencia
                        seus pets.</p>
                </div>
            </div>
        </div>
    </div>
</div>
