$color-primary: #549299;

.profile{
    width: 100%;
    border: 2px solid #f1cb8d;
    border-radius: 100%;
}

.margin-pers{
    padding-right: 16.666667%;
}

fa-icon{
    color: #1e7b80;
}

textarea{
    width: 100%;
}
