<div class="container">
  <div class="topo">
      <div class="row background-primary p-2 ">
          <div class="col-10 d-flex align-items-center justify-content-center text-light">
              12/12/2020 - Quarta
          </div>
          <div class="col-2 d-flex align-items-center justify-content-end pr-3">
              <fa-icon (click)="openCalendar()" size="2x" [icon]="iconCalendar"></fa-icon>
              <input type="date" #calendar style="display: none;">
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12 menu">
          <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <div *ngFor="let status of statusOfService; let i = index" class="nav-link {{menuSelected[i] ? 'active' : ''}}" id="nav-home-tab" data-toggle="tab" role="tab" aria-controls="nav-home" (click)="changeMenu(i)">{{status}}</div>
              </div>
          </nav>
      </div>
  </div>
  <div class="row border-bottom" *ngFor="let atendimento of atendimentos; let i = index" [routerLink]="'../agenda-detalhe'">
      <div class="col-3 col-sm-2 col-md-1 p-2 background-primary">
          <img src="assets/imgs/dog-profile.jpg" class="profile">
          <h5 class="text-center mt-2 mt-md-3 text-light">
              <b> {{atendimento.horario}} </b>
          </h5>
      </div>
      <div class="col-9 col-sm-10 col-md-11 p-2 pt-md-3 pl-3 background-card">
          <div class="row">
              <div [class]="i == 0 ? 'col-7 col-md-6' : 'col-12'">
                  <h6><b>{{atendimento.nome}}</b></h6>
              </div>
              <div [class]="i == 0 ? 'col-5 col-md-6' : 'col-0'">
                  <h6 *ngIf="i == 0" class="text-primary d-flex justify-content-center mt-1"><b>PRÓXIMO</b></h6>
              </div>
          </div>
          <h6 class="text-primary"><b>{{atendimento.servico}}</b></h6>
          <!-- <h6><b>{{atendimento.raca}}</b></h6> -->
          <h6>{{atendimento.endereco}}</h6>
          <h6><b>{{atendimento.telefone}}</b></h6>
      </div>
</div>
