#mapa-box{
    height: 65vh;
    width: 100%;
}

.filter{
    position: absolute;
    top: 1em;
    right: 0.5em;
    z-index: 2;
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px rgba(109, 109, 109, 0.3);
    cursor: pointer;
    img{
        width: 15px;
        margin-top: 3px;
    }
}





