<div class="container">
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-6 col-lg-5 text-center">
            <h6><b>{{dataAtual}} - {{dataAtual}}</b></h6>
        </div>
        <div class="col-6 col-lg-5 text-center">
            <h6>Ganhos: </h6>
            <h6><b>R$ 1750,00</b></h6>
        </div>
        <div class="col-11 col-lg-8">
            <canvas class="relatorio" #barCanvas></canvas>
        </div>
    </div>
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-6 col-lg-5 text-center">
            <h6><b>{{dataAtual}} - {{dataAtual}}</b></h6>
        </div>
        <div class="col-6 col-lg-5 text-center">
            <h6>Ganhos: </h6>
            <h6><b>R$ 1750,00</b></h6>
        </div>
        <div class="col-11 col-lg-8">
            <canvas class="relatorio" #barCanvasMoney></canvas>
        </div>
    </div>
</div>