@import '~bootstrap/dist/css/bootstrap.min.css';

.flex-column{
    flex-direction: column;
}

.btnFacebook{

}


.btn-google{
    -webkit-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 5px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    max-width: 200px;
    
    .icon-google{
        width: 30px;
    }
    .btn-text{
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }
}