img{
    max-width: 100%;
}

$color-primary: #549299;

.profile{
    width: 100%;
    border: 2px solid #f1cb8d;
    border-radius: 100%;
}

.margin-pers{
    padding-right: 16.666667%;
}

fa-icon{
    color: #1e7b80;
}

textarea{
    width: 100%;
}


.stars{
    width: 7em;
    height: 1.3em
  }

.form-control-custom{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bandeira{
    max-width: 75%;
    max-height: 70%;
}

.left{
    margin-left: 0 !important;
    padding-left: 5px !important;
}

.right{
    margin-right: 0 !important;
    padding-right: 5px !important;
}

.opcao-card{
    max-height: 80px !important;
    border-radius: 5px !important;
}

fa-icon{
    color: #212224;
}

.date_hour{
    cursor: pointer;
}
