<div class="container">
    <app-voltar></app-voltar>
    <div class="row d-flex align-items-center">
      <div class="col-4 col-md-3">
          <img src="assets/imgs/default-profile.png" class="img-thumbnail rounded-circle">
      </div>
      <div class="col-8 col-md-9">
          <div class="row">
              <div class="col-12">
                  <label for="username"> <b> Nome do pet:</b> Rex</label>
              </div>
              <div class="col-12">
                  <label for="email"> <b> Raça: </b> Pastor Alemão</label>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 mb-3">
        <div class="card shadow">
            <div class="card-body pt-2">
              <label class="text-center d-block mb-2">Resumo</label>
              <div class="row info-icons">
                <div class="col-3 px-0">
                  <div class=" text-center">
                    <fa-icon [icon]="faPaw" size="2x"></fa-icon>
                  </div>
                  <label class="card-title d-block text-center">Cachorro</label>
                </div>
                <div class="col-3 px-0">
                  <div class=" text-center">
                    <fa-icon [icon]="faVenusMars" size="2x"></fa-icon>
                  </div>
                  <label class="card-title d-block text-center">Macho</label>
                </div>
                <div class="col-3 px-0">
                  <div class=" text-center">
                    <fa-icon [icon]="faBirthdayCake" size="2x"></fa-icon>
                  </div>
                  <label class="card-title d-block text-center">2 meses</label>
                </div>
                <div class="col-3 px-0">
                  <div class=" text-center">
                    <fa-icon [icon]="faWeightHanging" size="2x"></fa-icon>
                  </div>
                  <label class="card-title d-block text-center">3 Kg</label>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-left">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/higiene.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Higiene</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-rigth">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/vacinas.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Vacinas</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-left">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/exames.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Exames</h5>
            </div>
        </div>
    </div>
    <div class="col-6 col-sm-6 col-md-3 mb-3 card-rigth">
        <div class="card card-opcao h-100 shadow  ">
            <div class="card-body">
                <div class=" text-center">
                    <img class="img-opcoes" src="assets/imgs/consultas.png" alt="">
                </div>
                <h5 class="card-title text-center mt-2 mb-0">Consultas</h5>
            </div>
        </div>
    </div>
  </div>

</div>
